.m-daily{
  .ant-layout-header{
    background: #fff;
    padding:0 10px;
  }

  .m-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.m-daily-modal{
  .items-show{
    border:solid 1px #ddd;
  }
  .item-show{
    display:flex;
    flex-direction: row;
    dl{
      display:flex;
      dt{
        width:80px;
        text-align:right;
      }
      dd{
        flex:1;
        text-align:left;
        min-width: 200px;
      }
    }
  }
}