.m-daily{
  .ant-layout-header{
    background: #fff;
    padding:0 10px;
  }

  .m-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .btns{
      button{
        margin-left:10px;
      }
    }
  }

  .table-content{
    table{
      .actions{
        .anticon{
          margin-right:10px;
        }
      }
    }
  }
}

.m-daily-modal{
  .items-show{
    border:solid 1px #ddd;
    position: relative;
    margin-top:10px;
    .links{
      position: absolute;
      right:10px;
      top:5px;
      a{
        margin-left:10px;
      }
    }
  }
  .item-show{
    display:flex;
    flex-direction: row;
    dl{
      display:flex;
      dt{
        width:80px;
        text-align:right;
      }
      dd{
        flex:1;
        text-align:left;
        min-width: 200px;
      }
    }
  }
  .ant-form-item-btn{
    .ant-form-item-label{
      label{
        visibility: hidden;
      }
      
    }
    .ant-btn{
      margin-right:20px;
    }
  }
  .icon-new-wraper{
    text-align: right;
  }
  .icon-new{
    padding:5px 0;
    color:#69f;
    cursor: pointer;
    .anticon{
      margin-right:5px;
    }

  }
}